:root {
  --md-primary-fg-color: #6a42c1;
  --md-primary-fg-color--light: #9b6aed;
  --md-primary-fg-color--dark: #542da1;

  --md-accent-fg-color: #9b6aed;
  --md-accent-fg-color--transparent: rgba(155, 106, 237, 0.1);
}
